* {
}

html {
  background-color: #F2F2F2;
}

body {
  padding-bottom: 6rem;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Slab;
  text-align: justify;
}

h3 {
  font-family: Arvo;
  color: #737373;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.content {
  background-color: white;
  width: 700px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 10px 10px 57px -18px rgba(0,0,0,0.2);
}

a {
  color: #7A416D;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  font-family: Oswald;
}

div.downloads {
  background-color: #FF82E2;
  width: 100%;
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

div.footer {
  background-color: #FF82E2;
  width: 700px;
  padding: 20px;
  margin: auto;
  font-family: Oswald;
  color: #7A416D;
}
